<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
   <link rel="stylesheet" href="css/contact.css">
</head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        <div class="members-wrapper">
            <div class="members">
                <img src="images/children.jpg" alt="Photo of Siddhant Shukla">
                <div class="info">
                    <p><strong>Name:</strong> Siddhant Shukla</p>
                    <p><strong>E-Mail:</strong> <a href="mailto:shuklasiddhant399@gmail.com">shuklasiddhant399@gmail.com</a></p>
                    <p><strong>Phone:</strong> <a href="tel:+7570054274">7570054274</a></p>
                </div>
            </div>

            <div class="members">
                <img src="images/two.jpg" alt="Photo of Sivam Yadav">
                <div class="info">
                    <p><strong>Name:</strong> Shivam Yadav</p>
                    <p><strong>E-Mail:</strong> <a href="mailto:shivam.1582004@gmail.com">shivam1582004@gmail.com</a></p>
                    <p><strong>Phone:</strong> <a href="tel:+7007417995">7007417995</a></p>
                </div>
            </div>

            <div class="members">
                <img src="images/three.jpg" alt="Photo of Shubham Kumar Singh">
                <div class="info">
                    <p><strong>Name:</strong> Shubham Kumar Singh</p>
                    <p><strong>E-Mail:</strong> <a href="mailto:rajputshubhamsingh531@gmail.com">rajputshubhamsingh531@gmail.com</a></p>
                    <p><strong>Phone:</strong> <a href="tel:+9305988582">9305988582</a></p>
                </div>
            </div>

            <div class="members">
                <img src="images/four.jpg" alt="Photo of Abhijeet">
                <div class="info">
                    <p><strong>Name:</strong> Abhijeet</p>
                    <p><strong>E-Mail:</strong> <a href="mailto:abhijeet@example.com">abhijeet@example.com</a></p>
                    <p><strong>Phone:</strong> <a href="tel:+8853669494">8853669494</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>