<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eBook Library</title>
   <link rel="stylesheet" href="css/ebooks.css">
</head>
<body>
    <div class="container">
        <h1>E-Books Library</h1>

        <div class="book">
            <h2>To Kill a Mocking Bird</h2>
            <iframe class="pdf-viewer" src="books/text.pdf" type="application/pdf"></iframe>
          
        </div>

        <div class="book">
            <h2>The Merchant Of A Venice</h2>
            <iframe class="pdf-viewer" src="books/merchant.pdf" type="application/pdf"></iframe>
            
        </div>
        <div class="book">
            <h2>Cather In The Rye</h2>
            <iframe class="pdf-viewer" src="books/Rye.pdf" type="application/pdf"></iframe>
            
        </div>

        <div class="book">
            <h2>My Experiments With Truth</h2>
            <iframe class="pdf-viewer" src="books/Autobiography.pdf" type="application/pdf"></iframe>
            
        </div>

        <div class="book">
            <h2>The Tempest</h2>
            <iframe class="pdf-viewer" src="books/tempest.pdf" type="application/pdf"></iframe>
            
        </div>

        <div class="book">
            <h2>The Mouse Trap</h2>
            <iframe class="pdf-viewer" src="books/mouse.pdf" type="application/pdf"></iframe>
            
        </div>

        

        <!-- Add more books as needed -->
    </div>
</body>
</html>