<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/sign-in.css" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signIn Page</title>
     <!-- Assuming the CSS is in an external file -->
</head>
<body>

    <form  method="get" action="/insertdata">
        <h2>User Registration</h2>

        <div>
            <label for="username">Username:</label>
            <input type="text"  name="gusername" required>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password"  name="gpassword" required>
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email"  name="gemail" required>
        </div>

        <input type="submit" value="Register">
    </form>

</body>
</html>